body {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #4f5877;
}

/* --------------------------------
// TYPOGRAPHY
-------------------------------- */
h1 {
  font-size: 2.7em;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1;
  color: #384047;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1;
  color: #657380;
}

h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.2em;
  font-weight: 300;
}

p, ol {
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -0.01em;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

h3, p, li {
  margin-bottom: 20px;
}

li {
  list-style: initial;
  margin-left: 20px;
}

/* --------------------------------
// LINKS
-------------------------------- */
a {
  color: #1e8fc5;
}

/* --------------------------------
// FLEX
-------------------------------- */
.flex-it {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-wrap: nowrap;
  -webkit-box-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flexbox-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-row {
  -moz-box-direction: row;
  -webkit-box-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flexbox-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-align-between {
  -webkit-box-align-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-align-content: space-between;
  align-content: space-between;
}

.flex-align-center {
  -webkit-box-align-content: center;
  -webkit-align-content: center;
  -ms-flex-align-content: center;
  align-content: center;
}

.flex-align-start {
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}

.flex-align-item-start {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.flex-align-item-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.flex-align-item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-start-all {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}

.flex-align-item-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.flex-justify-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-justify-center {
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: center;
}

.flex-justify-start {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
}

.flex-justify-end {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-end;
}

.flex-wrap {
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item-auto {
  -webkit-box-basis: auto;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1;
}

/* --------------------------------
// WRAPPER
-------------------------------- */
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

/* --------------------------------
// SECTIONS
-------------------------------- */
.top {
  margin-bottom: 75px;
}

/* --------------------------------
// TOP
-------------------------------- */
.logo {
  display: block;
  width: 100px;
  height: 100px;
  background: url(../img/ui/logo-davanzo.png) center no-repeat #2287c9;
  background-size: 120px;
}

/* --------------------------------
// ROWS
-------------------------------- */
.copy img {
  max-height: 1.2em;
}

/* --------------------------------
// MEDIA QUERIES
-------------------------------- */
@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 600px;
  }

  .top {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .left {
    text-align: center;
    order: 2;
  }

  .left h1 {
    margin-bottom: 15px;
  }

  .right {
    order: 1;
    margin-bottom: 50px;
  }

  .logo {
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  body {
    font-size: 15px;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .top {
    margin-bottom: 30px;
    padding: 0 30px;
  }

  .left h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
  }

  .left h2 {
    font-size: 1.6em;
  }

  .right {
    margin-bottom: 30px;
  }

  .logo {
    width: 70px;
    height: 70px;
    background-size: 80px;
  }
}
